

body{
	font-family: sans-serif;
}

header{
	background: black;
 	padding: 15px 0;
    color: white;
 }

 nav ul{
 	list-style-type: none;
	text-align: right;
	font-size: 15px;
	margin: 0;
	padding: 30px 0 0 0;
 }

 nav li{
	display: inline-block;
}

nav a{
	text-decoration: none;
	padding: 5px 10px;
	color: white;
	display: block;
}

.logo{
	width: 80px;
}

.episodes{
	background: #EFEFEF;
	border-bottom: 1px solid #BDBDBD;
}

.episodes h1{
	padding: 15px 0;
}

.episodes .lista-episodes img{
	width: 100%;
}	

.episodes .lista-episodes p{
	text-align: center;
	color: #0174DF;
}

.lista-contenido{
	list-style: none;
	margin: 30px 0 15px 0;
}

.lista-contenido li{
	display: inline-block;
	width: 107px;
	margin: 0 10px 10px 0;
	vertical-align: top;
}

.lista-contenido img{
	width: 100%;
}

.lista-contenido p{
	text-align: center;;
	color: #0174DF
}

.navegation-links h3{
	border-bottom: 1px solid;
	margin: 10px 0;
}

.navegation-links ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 15px;
}

.navegation-links p{
	border-top: 1px solid; 
	margin: 10px 0;
	padding: 10px;
}

img{
	margin-right: 10px;
	width: 5%;
}

.navegation-links{
	padding: 30px 30px;
}

.navegation-links ul a{
	text-decoration: none;
	color: #0174DF;
}

.ultimo{
	background: #6E6E6E;
	padding: 30px 0;
}

.ultimo p{
	font-size: 15px;
	color:white;
	margin: 0;
}

.ultimo .listafooter li{
	display: inline-block;
	list-style: none;
	margin:15px 15px 15px 37px;
	text-align: center;
	font-size: 0.7em;
	color: #D8D8D8;
}

#copyright {
	font-size:0.7em; 
	text-align:center; 
	color:white;
	margin: 10px;
	color: #BDBDBD;
}